.image-detail__container {
  transition: none;
  z-index: 20;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.5);
  border: 20px dashed red;
}

.image-detail {
  transition: all 2300ms ease-in-out;
  position: relative;
  padding: 30px;
  border: 1px solid blue;
  width: 97%;
  height: 97%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(255,255,255,1);
  flex-direction: column;
}

.image-detail__image {
  object-fit: contain;
  width: 100%;
  height: 90%;
}

.image-detail-appear {
  border-color: yellow;
}

.image-detail-appear-active {
  border-color: red;
}

.image-detail-enter {
  opacity: 0.2;
  color: red;
  transform: scale(0);
  transition: all 300ms ease-in-out;
}

.image-detail-enter-active {
  opacity: 1;
  color: blue;
  transform: scale(1);
  transition: all 300ms ease-in-out;
}

.image-detail-exit {
  opacity: 1;
  color: yellow;
  transform: scale(1);
}

.image-detail-exit-active {
  opacity: 1;
  color: green;
  transform: scale(0);
  transition: all 2300ms ease-in-out;
}
