.image-detail__container {
}

.image-detail {
  transition: all 2300ms ease-in-out;
}

.image-detail-appear {
  border-color: yellow;
}

.image-detail-appear-active {
  border-color: red;
}

.image-detail-enter {
  opacity: 0.5;
  color: red;
  transform: scale(0);
  transition: all 2300ms ease-in-out;
}

.image-detail-enter-active {
  opacity: .5;
  color: blue;
  transform: scale(1);
  transition: all 2300ms ease-in-out;
}

/* .image-detail-exit-active { */
/*   opacity: 1; */
/*   color: green; */
/*   transform: scale(1); */
/*   transition: all 2300ms ease-in-out; */
/* } */

/* .image-detail-exit { */
/*   opacity: 0; */
/*   color: yellow; */
/*   transform: scale(0); */
/* } */

.image-detail__container {
  z-index: 20;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.5);
}

.image-detail {
  position: relative;
  padding: 40px;
  border: 1px solid blue;
  width: 90%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255,255,255,1);
  flex-direction: column;
}
