@import "../../stylesheets/variables/colors";

.app-container {
  animation: colorer 7s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}
.coming-soon {
  display: flex;
  align-items: center;
  justify-content: center;
}
#bunnymatic {
  margin: auto;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
h1 {
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  margin: auto;
  z-index: 1;
  text-align: center;
  transform: translateZ(100px) translateX(-50%) translateY(-50%);
  font-size: 8vh;
}
.scaler {
  animation: pulse 5s infinite;
  animation-delay: 1s;
}

.zoomer {
  animation: zoomer 3s infinite;
  animation-delay: 2s;
}

.spinner {
  width: 25%;
  height: 25%;
  animation: fullspin 4s infinite;
  animation-delay: 3s;
}

@keyframes zoomer {
  from, to {
    transform: translateX(0px) translateY(0px);
  }
  25% {
    transform: translateX(90%) translateY(40%);
  }
  50% {
    transform: translateX(-120%) translateY(60%);
  }
  85% {
    transform: translateX(20%) translateY(-40%);
  }
}
@keyframes fullspin {
  from  {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes colorer {
  10% {
    background: $pink-3;
  }
  40% {
    background: $green-1;
  }
  75% {
    background: $lime-2;
  }
  90% {
    background: #dde;
  }
}

@keyframes pulse {
  from, to {
    transform: scale(.25);
  }
  20% {
    transform: scale(1);
  }
  50% {
    transform: scale(5);
  }
}
