.navigation {
  box-shadow: 0px 1px 2px $lime-2;
  padding: 0 20px 20px;
  justify-content: center;
  transition: flex-basis 600ms $easeOutCubic;
  flex-basis: 0%;

  &.hovering {
    transition: flex-basis 400ms $easeOutCubic;
    flex-basis: 45%;
  }
}
.navigation__item {
  margin-top: 20px;
  transition: font-size 700ms $easeOutCubic;
  .hovering & {
    font-size: 80px;
    &.hovering {
      transition: font-size 300ms $easeOutCubic;
      font-size: 140px;
    }
  }
  display: flex;
  align-items: center;
  justify-content: center;
}
