.navigation {
  box-shadow: 0px 1px 2px $lime-4;
  padding: 0 20px;
  justify-content: center;
  background-color: $lime-2;
}
.navigation__item {
  margin-top: 20px;
  transition: font-size 200ms $easeOutCubic;
  &:hover {
    font-size:40px;
  }

}
