//

.image-block {
  width: 24.5%;
  height: 200px;
  border: 1px solid black;
  padding: 0.25%;
  margin-bottom: 0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
