.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@import '~ceaser-easing';
@import './stylesheets/variables/_colors.scss';
@import './stylesheets/_reset.scss';
@import './components/navigation/_navigation.scss';
@import './pages/_main.scss';

.app-container {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

html, body, #root, .app-container {
  bottom: 0;
  top: 0;
  position: relative;
  height: 100%;
}
